<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

		<!-- Bootstrap -->
    <link href="_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
		<div id="wrapper" class="container">
		{{> header}}
    <div class="contentWrap homePage">
			<!-- slideShow -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				  <div class="item active">
				       <img src="_img/cs-homeSlide-v1.jpg" alt="Chris Styles Barber Spa">
					</div><!-- item -->
					 <div class="item">
				       <img src="_img/cs-homeSlide-v2.jpg" alt="Chris Styles Barber Spa">
					</div><!-- item -->
          <div class="item">
            <a href="/cast-cstyles-barber-spa/"><img src="_img/cs-homeSlide-17.jpg" alt="Meet The Cast! Manicurist"></a>
          </div><!-- item -->
            <div class="item">
				      <a href="/cast-cstyles-barber-spa/"><img src="_img/cs-homeSlide-18.jpg" alt="Meet The Cast! Hairstylist"></a>
				    </div><!-- item -->
            <div class="item">
				      <img src="_img/cs-homeSlide-v3.jpg" alt="Chris Styles Barber Spa">
				    </div><!-- item -->
				    <div class="item">
				       <a href="*" data-toggle="modal" data-target="#myModal"><img src="_img/cs-homeSlide-v6.jpg" alt="C-Styles Barber Spa Commercial"></a>
						</div><!-- item -->
				    <div class="item">
				      <img src="_img/cs-homeSlide-v4.jpg" alt="Chris Styles Barber Spa">
					</div><!-- item -->
					 <div class="item">
				      <img src="_img/cs-homeSlide-v5.jpg" alt="Chris Styles Barber Spa">
					</div><!-- item -->
			  </div> <!-- carousel-inner END -->
			</div> <!-- carousel-example-generic END -->
			<!-- slideShow END -->
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			      </div>
			      <div class="modal-body video-container">
			       <iframe width="560" height="315" src="//www.youtube.com/embed/CxIynBXgITk?rel=0" frameborder="0" allowfullscreen></iframe>
			      </div>
			      </div>
			  </div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="eModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			      </div>
			      <div class="modal-body video-container">
			       <img src="_img/rdConst.jpg" alt="C-Styles Barber Spa - road construction on Whitsett Ave">
			      </div>
			      </div>
			  </div>
			</div>
				<section class="intro">
					<article class="row">
					<div class="col-md-4">
            <div class="bookNowBox">
              <p><strong>Booking Is Now Available!</p><a class="onlineBookBtn" href="/barber-spa-book/" >Book Now <i class="fa fa-caret-right"></i></a>
            </div>
						</div>
					  	<div class="col-md-8 byLine"><p><span>Christopher Styles Barber Spa</span> <em>is a modern and upscale barbershop prominently serving Valley Village and neighboring communities for over three years. In this short time span, Christopher Styles Barber Spa has distinguished itself as the go-to shop for haircuts. The staff is expertly trained at providing a variety of haircut styles for a diverse clientele, ranging from traditional to modern chic. Nonetheless, our barbers and stylists constantly seek out opportunities to further educate themselves on emerging trends and styles. As a full service barber spa, we also offer styling, color services, straight razor shaves, manicures, spa pedicures, as well as some popular hair styling products. Regardless of what you come in for, you can immerse yourself in a welcoming and relaxing atmosphere while we create your perfect look.</em></p></div>
					<div class="moreBtn">more</div>
          <a class="col-md-8 byLine" href="/barber-spa-polices/">New polices effective June 1st 2019</a>
					</article>
				</section>
				<div class="row promoPanels">
						<article class="col-md-6 events">
						<h2>Events<span>+</span></h2>
							<div class="promoBox">
                {{#each event}}
                  <h3>{{title}}</h3>
							    <p>{{text}}</p>
                  <hr />
                {{/each}}
                <h3>To our valued customers</h3>
							<p>Due to increase in minimum wage and cost of living increases we have to increase hair service prices by 10% starting June 1st 2018. Thank you for your continued support. Any questions please direct to your stylist or barber. <br />- C-Styles Team</p>
							</div>
						</article> <!-- events END -->
						<article class="col-md-6 padding promo">
							<h2>Promotion<span>+</span></h2>
              <div class="promoBox">
                {{#each promo}}
                <h3>{{title}}</h3>
                <p>{{text}}</p>
                {{/each}}
							</div>
						</article> <!-- promo END -->
					</div> <!-- row END -->
				<section class="socialWidgets">
					<div class="row followInstagram">
					<h2>Follow Us on INSTAGRAM<span>+</span></h2>
					<article class="instagramBox">
            <div class="clearfix">
    				  <ul id="instafeed" class='instPhotos'></ul>
    				</div>
    				<script src="../_js/min/instafeed.min.js"></script>
    				<script type="text/javascript">
    				    var feed = new Instafeed({
    				      accessToken: '29559735.1677ed0.35fa3d10c6f849d987e746a32cf8e255',
    				        get: 'user',
    				        userId: '29559735',
    				        limit: '20',
    				        template: '<li><a target="_blank" href="\{{link}}"><img src="\{{image}}" /></a></li>'
    				    });
                // handlebars removes curly link and curly image tag will hard code in html files
    				    feed.run();
    				</script>
            <a target="_blank" href="https://www.instagram.com/stylesbarberspa/">View more Instagram photos</a>
          </article> <!-- InstagramBox END -->
					</div>
					<div class="row">
						<article class="col-md-6 followTwitter">
						<h2>Follow Us on TWITTER<span>+</span></h2>
							<div class="twitterBox">
								<div id="twitterWideget">
									<a class="twitter-timeline" href="http://twitter.com/StylesBarberSpa" data-widget-id="289889225988505600">Tweets by @StylesBarberSpa</a>
								</div> <!-- twitterWideget END -->
							</div>
						</article> <!-- twitterBox END -->
						<article class="col-md-6 padding followFacebook">
							<h2>Like Us on FACEBOOK<span>+</span></h2>
							<div class="facebookBox">
								<div id ="fbDesktop" class="fb-like-box" data-href="http://www.facebook.com/ChristopherStylesBarberSpa" data-width="370" data-show-faces="true" data-stream="true" data-header="true"></div>
								<p class="FBwarning" >Please <a href="https://www.facebook.com/" target="_blank">LOGIN</a> to your Facebook to see posts</p>
							</div>
						</article> <!-- facebookBox END -->
					</div> <!-- row END -->
				</section> <!-- socialInfo END -->



		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->

			{{> footer}}



	<!-- Script Social -->
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=426981267318950";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


	<!-- Script -->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="_js/min/script.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="_js/min/bootstrap.min.js"></script>
</body>
</html>
